
<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Actualizar cliente</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm" >
            <div class="mb-3">
                <label>Nombre:</label>
                <input #nombre="ngModel" class="form-control"
                    [ngClass]="nombre.invalid && nombre.dirty ? 'is-invalid' : ''" type="text" name="nombre"
                    [(ngModel)]="actualizarClienteDTO.nombre" required />
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Foto: </label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" name="foto" (change)="onFileChange($event)" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" [disabled]="archivos == null" class="btn btn-primary" (click)="subirImagen()">
                        <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
                    </button>
                </div>
            </div>

            <div class="mb-3">
                <label>Correo electrónico:</label>
                <input #email="ngModel" class="form-control"
                    [ngClass]="email.invalid && email.dirty ? 'is-invalid' : ''" type="email" name="email"
                    [(ngModel)]="actualizarClienteDTO.email" required />
            </div>

            <div class="mb-3">
                <label>Ciudad:</label>
                <select class="form-select" name="ciudad" required [(ngModel)]="actualizarClienteDTO.ciudadResidencia">
                    <option value="" selected>Seleccione una ciudad</option>
                    @for (item of ciudades; track $index) { <option [value]="item">{{item}}</option> }
                </select>
            </div>

            

           

            <button (click)="actualizar()"
            class="btn btn-primary" >
                <i class="fa-solid fa-circle-plus me-1"></i>Actualizar
            </button>
            <app-alerta [alerta]="alerta"></app-alerta>
        </form>
    </div>
</div>
