<header class="py-3 mb-3 border-bottom">


  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="dropdown">


      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap" />
      </svg>


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
        <li><a routerLink="/favoritos" class="nav-link px-2">Favoritos</a></li>
        <li><a routerLink="/recomendados" class="nav-link px-2">Recomendados</a></li>
        @if (rol == 'MODERADOR') {
        <li><a routerLink="/historial-de-revicion" class="nav-link px-2">Historial de Revicion</a></li>
        }
        <li><a routerLink="/gestion-negocios" class="nav-link px-2">Gestión negocios</a></li>
      </ul>


    </div>

    <div class="d-flex align-items-center">

      <div class="flex-shrink-0 dropdown me-5 ">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow">

          <div class="col-md-3 text-end">
            @if (!isLogged) {
            <li><a class="dropdown-item" routerLink="/registro">Registrate</a></li>
            <li><a class="dropdown-item" routerLink="/login">Iniciar sesión</a></li>
            }@else {

            <li><a class="dropdown-item" routerLink="/actualizar-cliente">Actualizar</a></li>
            <li><a class="dropdown-item" (click)="logout()">salir</a></li>

            }

          </div>



        </ul>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <!-- <p>{{footer}}</p> -->
</footer>




<!-- <header>
  <p>Página inicial de {{title}}</p>
  <ul>
    <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/registro">Registro</a></li>
  </ul>
  </header>
  <router-outlet></router-outlet>
  <footer>
  <p>{{footer}}/p>
  </footer> -->