<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-location-dot me-2"></i>Actualizar negocio</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-10">
                    <input #nombre="ngModel" class="form-control"
                        [ngClass]="nombre.invalid && nombre.dirty ? 'is-invalid' : ''" type="text" name="nombre"
                        [(ngModel)]="actualizarNegocioDTO.nombre" required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Descripción: </label>
                <div class="col-sm-10">
                    <textarea #descripcion="ngModel"
                        [ngClass]="descripcion.invalid && descripcion.dirty ? 'is-invalid' : ''" type="text"
                        [(ngModel)]="actualizarNegocioDTO.descripcion" name="descripcion" required
                        class="form-control"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Ubicación: </label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col">
                            <label class="col-sm-2 col-form-label">Ubicación: </label>
                            <div class="col-sm-10">
                                <div id="mapa"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Imágenes: </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" name="imagenes" (change)="onFileChange($event)" multiple
                            required />
                    </div>
                </div>
            
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Horarios: </label>
                    <div class="col-sm-8">
                        @for (item of horarios; track $index) {
                        <div class="row mb-2 ">
                            <div class="col">
                                <input class="form-control" placeholder="Día" type="text" name="dia-{{$index}}"
                                    [(ngModel)]="item.dia" required />

                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Hora Inicio" type="time"
                                    name="horaInicio-{{$index}}" [(ngModel)]="item.horaInicio" required />

                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Hora Fin" type="time" name="horaFin-{{$index}}"
                                    [(ngModel)]="item.horaFin" required />

                            </div>
                        </div>
                        }
                    </div>
                    <div class="col-sm-2 text-end ">
                        <button class="btn btn-primary" (click)="agregarHorario()">
                            <i class="fa-solid fa-circle-plus me-1"></i>Agregar horario
                        </button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Teléfonos: </label>
                    <div class="col-sm-10">
                        <!-- @for (item of telefonos; track $index) {
                        <div class="row mb-2 ">
                            <div class="col">
                                <input class="form-control" placeholder="Tipo" type="text" name="tipo-{{$index}}"
                                    [(ngModel)]="item.tipo" required />
    
                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Nuemro" type="time"
                                    name="nuemro-{{$index}}" [(ngModel)]="item.numero" required />
    
    
                            </div>
                        </div>
                        } -->



                    </div>
                </div>
                <button class="btn btn-primary" (click)="actualizarNegocio()" [disabled]="f.invalid">
                    <i class="fa-solid fa-circle-plus me-1"></i>Crear negocio
                </button>
                </div>di
        </form>
    </div>
</div>